<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- ======= BOOTSRAP CSS  ======= -->
    <link href="{{ url_for('static', filename='vendor/bootstrap-5.2.3/css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    
    <div class="container">
        <!-- Handle Alerts -->
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center alert-dismissible fade show m-auto" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}

        <!-- App Contents -->
        {% block content %}{% endblock %}
    </div>

    <!-- ======= BOOTSRAP JS  ======= -->
    <script src="{{ url_for('static', filename='vendor/bootstrap-5.2.3/js/bootstrap.bundle.min.js') }}"></script>


</body>
</html>
